/* NOT USED JUST KEPT FOR REFERENCE*/
body {
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.35;
    padding: 0 2em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    //font-family: Cambria, "Times New Roman", Times, serif;
  }
  
  h1,h2,h3{
    margin-bottom: calc((1.5rem - 2rem) + 1.5rem);
  }
  
  @media screen and (min-width: 968px) {
    body {
      font-size: 1.4rem;
      line-height: 1.4;
    }
  }